<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="CachingProvider" type="Caching.CachingConfiguation, Caching"/>
  </configSections>
  <CachingProvider clearDuration="10">
    <providers>
      <add name="MemoryCacheProvider" type="Caching.MemoryCachingProvider,Caching" />
    </providers>
  </CachingProvider>
</configuration>